.grid-container{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-content: center;
}

.loader{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}