@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --bg-color: #233345;
  --card-header: #425977;
  --card-body: #334863;
  --card-url: #223245;
  --card-url-text: #475b75;
  --card-title: #f3f4f6;
  --appbar-title: #bfcbdc;
  --appbar-title: #bfcbdc;
  --filter-stroke: #506581;
  --inputs-color: #6a7d94;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
html{
  background-color: var(--bg-color);
}

.App {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1400px;
}